@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
body {
  /* background-color: #5f8ae7;
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Roboto";
  
    background: linear-gradient(to bottom, #FAFFD1,#A1FFCE );
    /* Le dégradé va du noir (#000000) en haut au blanc (#ffffff) en bas */
  
  
}

/* style nav bar  */

.tm-nav a {
  /*définit la police*/
  font-family: "Poppins", sans-serif;
  /*espace entre chaque mot*/
  margin: 0 30px;
  /* pour enlever l'underline*/
  text-decoration: none;
  /* couleur du texte */
  color: black;
  /* //taille du texte */
  font-size: 20px;
  /* gras du texte */
  font-weight: 500;
}

.tm-nav a:hover {
  color: #3e99ff;
}

.header-inner {
  /* centre les éléments */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

/* style contenu de la page centres d'intérêt */


.interet-container {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.interetLeft {
  display: flex;
  align-items: center;
  /*rapprocher du centre les deux blocs de gauche*/
  margin-left: 250px;
}

.interetRight {
  flex-direction: row-reverse;
  /*rapprocher du centre les deux blocs de droite*/
  margin-right: 250px;
}
/* dimension et espacement pour les boîtes des textes  */
.descr-wrap {
  width: 300px;
  max-height: 300px;
  margin-right: 20px;
  
}
.descr-wrap p {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*aligner le texte à droite pour les éléments de droite*/
.textRight {
  text-align:center;
}

/* espacement entre textes et images  */
.photo-wrap {
  margin-right: 20px;
}
.reverse .photo-wrap {
  margin-right: 0;
  margin-left: 20px;
}
/* style des titres  */
.interet h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

/*style des 3 premiers titres*/
.interet h2.titreCourt {
  /* centrer le titre avec l'image */
  margin-left: 95px;
}
/*style du titre long*/
.interet h2.titreLong {
  /* centrer le titre avec l'image */
  margin-left: 30px;
}


/* dimensions des images  */
.interet img {
  width: 340px;
  height: 300px;
  border-radius: 5px;
}



