@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


/*style de la barre de navigation*/

body {
  background-image: url("../assets/indexHome/wallpaperHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Roboto';
}


.tm-nav a {
  /*définit la police*/
  font-family: 'Poppins', sans-serif;
  /*espace entre chaque mot*/
  margin: 0 30px;
  /* pour enlever l'underline*/
  text-decoration: none;
  /* couleur du texte */
  color: white;
  /* //taille du texte */
  font-size: 20px;
  /* gras du texte */
   font-weight: 500;
}

.tm-nav a:hover{
  color: #3e99ff ;
}

.header-inner {
    /* centre les éléments */
    display: flex;
    justify-content: center;
    align-items: center;
}



/*style du main de la page index*/


p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .presentationAnime {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation div div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 9.7s infinite;
  }
  
  .premier div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .troisieme div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }

  /*style de la page CV*/
  .cvPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3.3%;
  }

  .cvPage img {
    border: 5px solid rgb(205, 205, 205); 
    border-radius: 10px; 
  }

  /*style de la page interet*/


.interet-container {
  
}





